h1 {
  font-size: 35px;
  font-weight: 800;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

ul {
  list-style-type: initial;
  padding: 14px;
}

bold {
  font-weight: bold;
}

img {
  border-radius: 0.5rem;
}
